<div class="details">
  <p-fieldset legend="Detail post: {{post.id}}" [toggleable]="true">
    <div style="text-align: end;" *ngIf="currentDate"> Last comment: {{myDate | date}} </div> 

    <div class="post">
      <h2 class="post-title">{{ post.title | titlecase }}</h2>
      <p class="post-text">
        {{ post.body | titlecase }}
      </p>
    </div>
  </p-fieldset>
</div>

<app-comments (click)="getDate()" [iDate]="currentDate" [id]="id"></app-comments>

<!-- <app-comments [id]="id"></app-comments> -->
