header {
  margin: 0;
  background-color: #071426;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-moby {
  margin-left: 10px;
  cursor: pointer;
}

.items {
  margin-right: 10px;
}