<h1>LIST OF POSTS</h1>
<div class="post-list">
  <p-table [value]="posts">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>POST</th>
            <th>ACTIONS</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body">
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td><button pButton routerLink="{{post.id}}" class="p-button-warning" icon="pi pi-eye" pTooltip="watch"></button></td>
        </tr>
    </ng-template>
</p-table>
</div>
