<section class="login mt-7">
  <h5>LOGIN</h5>
  <div class="form-group p-grid p-fluid">
  <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">

      <div class="p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
          <input type="text" pInputText placeholder="E-mail address" formControlName="email">
        </div>
      </div>

      <div class="p-md-4">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
          <input type="password" pPassword placeholder="Password" formControlName="password">
        </div>
      </div>
      <button pButton type="submit" label="Login" icon="pi pi-sign-in" class="btn-log"></button>
  </form>
  
  <div class="flex flex-column align-items-center mt-7">
    <h5> Don't have an account?</h5>
    <button type="button" (click)="goToRegister()" pButton  label="Create one" class="p-button-outlined btn-log"></button>
    <h5>Or</h5>
    <button pButton (click)="logIn()" class="p-button-danger btn-log" icon="pi pi-google" label="Login With Google"></button>

  </div>
  </div>
</section>