.comments{
background-color: #071426;
margin: 30px 50px;
padding: 20px;
border-radius: 5px;
border: solid 1px rgba(255, 255, 255, 0.052);
}

h1, h3, p {
  margin-bottom: 20px;
}

h1 {
  background-color: #193f74;
  text-align: center;
}
h4 {
  text-align: center;
}

.comment {
  border-bottom: 1px solid rgba(209, 236, 255, 0.587);
  margin-bottom: 15px;
}

p{
  font-size: 12px;
}

.emit-button {
  margin: 10px auto;
  display: block;
}

.add-comment {
  margin: 0 auto;
  width: 70%;
}

.mt-2 {
  margin-top: 15px;
}

input {
  flex: none !important;
  width: 850px !important;
}

textarea {
  flex: none !important;
  width: 900px !important;
}

.comment-button {
  width: 250px;
  margin: 10px auto;
  display: block;
}

input:focus {
  box-shadow:none !important;
}

.error-message{
  display: flex;
  align-items: center;
  color: #fa6356;
  margin: 0px 10px;
}